html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.navbar-brand {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
}

.rounded {
    border-radius: 1rem !important;
}

.card {
    border-radius: 1rem;
}

.card-header {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    text-align: center;
    font-size: 1.5rem;
}

div.list-group.container.exercises-listing {
    padding: 1rem;
}

#edit-buttons {
    position: absolute;
    top: 5%;
    right: 1%;
    z-index: 100;
    font-weight: bold;
    display: inline-flex;
    opacity: 0;
}

#edit-description-button {
    opacity: 0;
}

#edit-buttons:hover,
#edit-description-button:hover {
    opacity: 100;
}